{% load static %}

<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main//styles.css' %}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VODery - best VOD platform in Poland</title>
</head>
<body>
    <header>
        <div>
            <a href="/"><img id="main-logo" height="40rem" src="{% static 'main//logoblue-border.svg' %}" alt="VODery"></a>
        </div>
        {% if user.is_authenticated %}
            {% block content %}
            <form action="logout/">
                <button id="login-button" type="submit">Logout</button>
            </form>
            {% endblock %}
        {% else %}
            <form action="login/">
                <button id="login-button" type="submit">Login</button>
            </form>
        {% endif %}
    </header>
    <main>
        {% if user.is_authenticated %}
        <div id="filmy">
        {% for movie in movies1 %}
            <div class="film">
                <img class="posters" src="media/{{ movie.poster }}">
                {{ movie.title }}
            </div>
        {% endfor %}
        </div>
        {% else %}
        <div>
            <p>Hi! If you want to enjoy the best (amateur) movies, register below for unlimited access.</p>
        </div>
        <form action="register/" method="GET"> {% csrf_token %}
            <button id="register-button" type="submit">Register</button>
        </form>
        {% endif %}
    </main>
    <footer>

    </footer>
</body>
</html>