{% extends 'main/base.html' %}

{% block content %}

<div class="movie">
    <a class="movie" href="/movie/{{ movie.title }}">
    <img class="posters" src="/media/{{ movie.poster }}">
    <p>{{ movie.title }}</p>
    </a>
</div>
<p>Description:</p>
<p class="movie-description">
{% if movie.description == '' %}
    No description for this particular movie at this time. We're sorry!
{% else %}    
    {{movie.description}}
{% endif %}

</p>
<div class="comment-section">
{% if user.is_authenticated %}
{% load crispy_forms_tags %}
    <form action="/movie/{{ movie.title }}/" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input id="addcomment" type="submit" value="Comment">
    </form>
{% endif %}
{% for c in comments %}
    <div class="usernamebox">
        <p class="username">{{ c.user }}</p>
        <div class="comment">
            <p class="comment-text">{{ c.text }}</p>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}