.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

venv/*
sklep/db.sqlite3
sklep/main/static/*
sklep/main/__pycache__/*
sklep/sklep/__pycache__/*
sklep/manage.py